.bike img.card-img-top {
    height: 250px;
}

.bodyText {
    display: flex;
    justify-content: space-between;
}

.bike p.card-text {
    margin: 0;
}

.bike .body1 {
    text-align: center;
}

.bike i.fas.fa-star,
i.far.fa-star {
    color: goldenrod;
}



.bike h3 {
    text-decoration: none;
    color: #040e27;
    font-size: 26px;
    font-weight: 500;
}